<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <title>Self introduction Blog</title>
    <!-- <link rel="stylesheet" href="self-intro.component.css" /> -->
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="bTop">
          <div class="bTopRight">
            <div class="images">
              <img
                src="https://img.freepik.com/free-photo/happy-business-man-wearing-grey-suit-standing-isolated-white-wall_231208-9211.jpg?t=st=1708696882~exp=1708700482~hmac=c6e1c46085718124336653be79f11114703201d2fb52d11f009cbffb9ca8d83b&w=740"
                alt="profile Image"
              />
            </div>
          </div>
          <div class="bTopLeft">
            <div class="heading">
              <h2>Suraj Tanaji Sutar</h2>
            </div>
            <div class="para">
              <h5>BE-Computer Science</h5>
              <h5>Address: Flat No - 305,Dhankawadi Pune-411043</h5>
              <h5>Phone No: 9923828093</h5>
              <h5>Email: surajsutar9922@gmail.com</h5>
            </div>

            <div class="icons">
              <i class="ri-linkedin-box-fill"></i>
              <i class="ri-github-fill"></i>
              <i class="ri-whatsapp-fill"></i>
            </div>
          </div>
        </div>
        <div class="bBottom">
          <div class="rightHeading">
            <div class="headingSelf">
              <h2>Self Introduction</h2>
            </div>
          </div>

          <div class="introPara">
            <p>
              My name is Suraj Tanaji Sutar, and I am from Pune. I have
              completed a
              <span class="boldtext">Bachelor's in Computer Science</span> from
              <span class="colortext"
                >KJ College of Engineering, Management, and Research</span
              >
              with a 74% score. Additionally, I have a
              <span class="boldtext"> diploma in computer science</span> from
              <span class="colortext">Zeal Polytechnique</span> with a 63%
              score.
              <br />
              Let's move on to my projects and skills. One of the college-level
              projects I completed last year is my final year project, named the
              Virus Protocol Detection System using deep learning. This project
              is divided into three models. The first model focuses on face mask
              detection, the second on social distance detection, and the third
              on vaccination records. To implement these models, I used two
              algorithms: SSD and YOLO, both employed for object detection.
              <br />

              Specifically, SSD is utilized to detect faces without masks, while
              YOLO is employed to identify people not following social
              distancing guidelines. To calculate distances, I used a formula,
              and all the relevant information and images are stored in a
              Firebase database.
              <br />One of my strengths is persistence, and I am always eager to
              learn new things whenever I get the chance. My long-term goal is
              to gain experience and knowledge in this field.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
